# 사전작업

## 라이브러리 로드

In [1]:
import numpy as np
import pandas as pd
import warnings
import gc
from tqdm import tqdm_notebook
import lightgbm as lgb
from scipy.sparse import vstack, csr_matrix, save_npz, load_npz
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings("ignore")
gc.enable()
# sns.set()

In [2]:
pd.set_option('max_rows', 150)
pd.set_option('max_colwidth', 500)
pd.set_option('max_columns', 500)

## 데이터 로드

In [77]:
yh = pd.read_csv('./data/YH_v3_new_jebal.csv')

In [6]:
test = pd.read_csv('./data_temp/outlier_split.csv')

In [3]:
base = pd.read_csv('./data/submission_lgb.csv')

In [8]:
# base['yh'] = yh.HasDetections
base['test'] = test['0']

In [9]:
base.columns = ['MachineIdentifier', 'cv_692', 'new']

In [12]:
base[base.new != 0].iloc[:,1:].corr()

         cv_692      new
cv_692  1.00000  0.91407
new     0.91407  1.00000

In [15]:
def get_score(data):
    if data.new == 0:
        return data.cv_692
    else:
        return 0.1*data.cv_692 + 0.9*data.new

In [16]:
base['HasDetections'] = base.apply(get_score, axis=1)

In [17]:
base.loc[:,['cv_692', 'new', 'HasDetections']].corr()

                 cv_692       new  HasDetections
cv_692         1.000000  0.075031       0.994997
new            0.075031  1.000000       0.067566
HasDetections  0.994997  0.067566       1.000000

In [18]:
base[['MachineIdentifier', 'HasDetections']].to_csv('./data/JEBAL4.csv', index=False)